<div class="container">
  <h1>Whoa what a blog!</h1>
  <%= link_to 'New post', :controller => "posts", :action => "new" %>

  <h2>Total length of all posts: <%= Post.length_total %> </h2>

    <ul>
        <% @posts.each do |post| %>
          <li><%= link_to post.title, :controller => "posts", :action => "show", :id => post %></li>
        <% end %>
    </ul>

</div>
